extends layout

block content
 h1 Find Your Match 
  h2
   img(src="#{newUser.profile.picture}", width="257", height="326", align="center")
  h3
     |#{newUser.profile.name.first}, #{newUser.profile.university}
  h4
     |Gear:
  h5
     |#{gearString}
  h6
     |Interests:
  h7
     |#{newUser.profile.interest}
  h8
     |Experience:
  h9
     |#{newUser.profile.experience}
  #container.buttons
   img(src= "img/yes.png", width="80", height="80")
   img(src= "img/no.png", width="80", height="80")
