extends layout

block content
 h1 Find Your Match 
  h2
   img(src="#{newUser.profile.picture}", width="257", height="326", align="center")
  h3
     |#{newUser.profile.name.first}, #{newUser.profile.university}
  h4
     |Gear: #{gearString}
  h5
     |Interests: #{newUser.profile.interest}
  h6
     |Experience: #{newUser.profile.experience}
  #container.buttons
   img(src= "img/yes.png", width="80", height="80")
   img(src= "img/no.png", width="80", height="80")
