extends layout

block content
    br
    each user in matches
        h2
            img(src="#{user.profile.picture}",height="200", width="200", class="circularx")
        h4 Name:
        h5 #{user.profile.name.first}
        h4 University:
        h5 #{user.profile.university}
        h4 Email:
        h5
         a(href="mailto:#{user.email}") #{user.email}
        h4 Interests:
        h5 #{user.profile.interest}
        h4 Experience:
        h5  #{user.profile.experience}
        hr